*{
    margin: auto;
}
html{
    background-color: grey;
}
#calculadora{
    width: 450px;
    height: 779px;
    background-color: whitesmoke;
}
#caja1{
    
    padding: 15px;
}
#lb1{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
}
#caja2{
    height: 170px;
}
#table2{
    margin-top: 80px;
    margin-right: 15px;
    float: right;
    
}

#tdresup{
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(150,150,150);
    float: right;
    
}
#tdresdown{
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    float: right;
}
#caja3{
    width: 450px;
    height: 49px;
    border-bottom: 1px solid rgb(221, 221, 221);
}
#table3{
    width: 450px;
    height: 49px;
    border-collapse: collapse;
}
.td3{
    width: 16.6%;
    height: 100%;

}
.b3{
    background-color: whitesmoke;
}
#caja4{
    width: 450px;
    height: 85px;
}

#table4{
    padding: 0;
    margin: 0;
    width: 450px;
    height: 85px;
    border-collapse: collapse;
}
.b4{
    background-color: whitesmoke;
    font-size: 20px;
}
#caja5{
    width: 450px;
    height: 420px;    
}
#table5{
    padding: 0px;
    margin: 0px;
    width: 450px;
    height: 420px; 
    border-collapse: collapse   
    

}
.td5{
    margin: 0;
    padding: 0;
    width: 25%;
    height: 20%;
    
}

.bnumber{       
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;

}
.b5{
    font-size: 20px;

}
button{  
    margin: 0;
    padding: 0;  
    width: 100%;    
    height: 100%; 
    border: none;
    outline: none;
}
button:hover{
    background: rgb(180,180,180);
}